{% extends 'stock/base1.html' %}
{% load staticfiles %}

{% block title_block %}
         
{% endblock %}
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>LearnStock</h1>
                    <span class="subheading">This is the best application for studying stock</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% block body_block %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">                  
                   
                    <h2 class="blog-post-title">Top 5 Most Liked Stock Category</h2>
                    <div class="p-3">
                        {% if categories %}
                       <ul>
                            {% for category in categories %}
                          <li><a href="/stock/category/{{ category.slug }}">{{category.name }}</a></li>
                            {% endfor %}
                       </ul>
                      {% else %}
                               <strong> There are no stock categories present.</strong>
                      {% endif %}
                    </div>
          
                    <div>
                                <h2>Top 4 Most Viewed Stock News </h2>
                        {% if pages %}
                       <ul>
                         {% for page in pages %}
                             <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                         {% endfor %}
                       </ul>
                        {% else %} 
                          <strong>There are no News post currently.</strong>   
                        {% endif %} 
                    </div>    
            </div>
</main>
{% endblock %}
 