{% extends 'stock/base2.html' %}
{% load staticfiles %}
{% block title_block %}
       Search
{% endblock %}

{% block body_block %}
<div>
        <h1>Search with Stock</h1>
</div>

<div>
      <form class="form-inline" id="user-form" method="post" action="{% url 'stock:search' %}">
        {% csrf_token %}
        <div class="form-group">
        <input class="form-control" type="text" size="50" name="query" id="query" />
        </div>
           <button  type="submit" name="submit">Search</button> </form>
</div>

{% endblock %}